*{
    font-family: '60s Scoreboard', sans-serif;
    box-sizing: border-box;
}

.main{
    display:flex;
    background-color: black;
    min-height: 100vh;
}

.home-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10% 5%;
    width: 90%;
    color: red;
    max-width: 800px;
}

.guest-main{
    display: flex;
    justify-content:center;
    align-items:flex-end;
    flex-direction: column;
    margin: 10% 5%;
    color: red;
    width: 90%;
    max-width: 800px;
}
button{
    color: red;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
}
